@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*
=====================
	Common
=====================
*/
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

hr {
	color:  #e6e5e5 ;
	border-top: 1px solid #e6e5e5;
}

.container {
	height: 100%;
}

.main {
	/*float: right;*/
	width: 80%;
	height: 100%;
	background-color: white;
    margin-top: 50px;
}
.content {
	padding: 50px 100px;
}

a {
    color:black;
    text-decoration:none;
}

/*
=====================
	Navbar
=====================
#2acbff
*/
.navbar {
	overflow: hidden;
	background-color: #6ac8ff;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 100%;
	height: 53px;
    transition: top 0.3s;
}
.navbar-table a{
    margin: 0 auto;
    top: 0;
	text-decoration: none;
    transition: top 0.3s;
}

.navbar-fixed-top{
	position: fixed;
}

/* Style the navigation bar links */
.navbar a{
    float: left;
    width: 100px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
	text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover,.navbar a:active,.navbar-table td:hover{
    background-color: #fff;
    color: orange;
    border-bottom: 3px solid orange;
}

/*
=====================
	Sidebar
=====================
*/
.sidebar {
	float: left;
	height: 100%;
	background-color: #ffff;
    position: fixed;
    left: 0;
    width: 15%;
    margin-top: 0px;
}
.title {
	text-align: center;
}

.title a {
	text-decoration: none;
	color: black;
}

.title a:hover {
	color: lightgrey;
}

.sidebar ul {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.sidebar ul li {
	list-style: none;
	padding-left: 30px;
	line-height: 60px;
}

.sidebar ul li:hover {
	background-color: #ffcec7;
}

.sidebar ul li.active {
	background-color: #cef0ce;
}

.sidebar ul li a {
	text-decoration: none;
	color: black;
	display: block;
	line-height: 60px;
}

.top-link{
	font-size:12px;
}
.footer{
	font-size:12px;
	position:relative;
	text-align:center;
	line-height:24px
	bottom:60px;
}
.footer span{
	margin-inline-start:1px;
	margin-inline-end:1px
}
.footer a{
	color:inherit;

}
.top-link{
	visibility:hidden;
	position:fixed;
	bottom:60px;
	right:30px;
	width:42px;height:42px;
	padding:12px;
	border-radius:64px;
	transition:visibility .5s,opacity .8s linear
}
